.church-heading{
    font-size: 4rem;
    font-weight: 800;
    border: 2px dotted green;
    padding: 4;
}

.one{
    color:rgb(75, 4, 4);
    font-size: 4rem;
}

.two{
    color:rgb(34, 214, 49);
    font-size: 2rem;
}

.three{
    color:rgb(107, 8, 135);
    font-size: 1rem;
}